//Palettes
$mat-black: (
        50 : #e2e2e2,
        100 : #b7b7b7,
        200 : #878787,
        300 : #575757,
        400 : #333333,
        500 : #0f0f0f,
        600 : #0d0d0d,
        700 : #0b0b0b,
        800 : #080808,
        900 : #040404,
        A100 : #a6a6a6,
        A200 : #8c8c8c,
        A400 : #737373,
        A700 : #666666,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$mat-redblack: (
        50 : #e8e8e8,
        100 : #c6c6c6,
        200 : #a1a1a1,
        300 : #7b7b7b,
        400 : #5e5e5e,
        500 : #424242,
        600 : #3c3c3c,
        700 : #333333,
        800 : #2b2b2b,
        900 : #1d1d1d,
        A100 : #f07878,
        A200 : #eb4a4a,
        A400 : #ff0303,
        A700 : #e90000,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);
$mat-skyblue: (
        50 : #e5f6ff,
        100 : #bee8ff,
        200 : #93d9ff,
        300 : #67c9ff,
        400 : #47beff,
        500 : #26b2ff,
        600 : #22abff,
        700 : #1ca2ff,
        800 : #1799ff,
        900 : #0d8aff,
        A100 : #ffffff,
        A200 : #f6fbff,
        A400 : #c3e0ff,
        A700 : #aad2ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);