
.bgImage {
  background-image: url('https://i.imgur.com/jmxd301.jpg') !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment:fixed !important;
  background-size: cover !important;
  transform: translate3d(0,0,0) !important;
}